<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="favicon.png">
  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="stylesheet" href="/public/css/from.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

	<title>For create ERMS company </title>
	</head>

	<body>

		<!-- Start Header/Navigation -->
		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

			<div class="container">
				<a class="navbar-brand" href="http://localhost:8080/"><img width="40px" src="/public/images/erms.jpg" alt=""><span>.</span></a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li class="nav-item active">
							<a class="nav-link" href="index.html">Home</a>
						</li>
						<li><a class="nav-link" href="shop.html">Shop</a></li>
						<li><a class="nav-link" href="about.html">About us</a></li>
						<li><a class="nav-link" href="services.html">Services</a></li>
						<li><a class="nav-link" href="blog.html">Blog</a></li>
						<li><a class="nav-link" href="contact.html">Contact us</a></li>
					</ul>

					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
						<li id="user_register"><a class="nav-link" href="#"><img src="/public/images/user.svg"></a></li>
					</ul>
				</div>
			</div>
				
		</nav>
		<!-- End Header/Navigation -->






<!-- User register from start -->

        <div id="close" class="heroo">
			
			<div class="form-box">
				<button id="close_popup" class="close_popup">X</button>
				<div class="form-box-button">
					<div class="form-box--btn" id="btn"></div>
					<button class="toggle-btn" onclick="login()">Login</button>
					<button class="toggle-btn" onclick="register()">Register</button>
				</div>
				<div class="form-box-socialIcon">
					<span class="facebook">F</span>
					<span class="twitter">T</span>
					<span class="google">G</span>
				</div>
				<form action="/http://localhost:8080/auth/login"  id="login" method="post" enctype="application/x-www-form-urlencoded" class="form-box-inputGroup">
					<input type="text" class="input-field-log" placeholder="Username or email" required>
					<input type="text" class="input-field-log" placeholder="Enter your password" required>
					<input type="checkbox"  class="chech-box"><span>REmember password</span>
					<button type="submit" class="submit-btn">Log in</button>
				</form>


				<div id="register" class="form-box-inputGroup">
					<div class="input-group has-validation">
						<input type="text" name="username" id="username" placeholder="Enter your username"  class="input-field is-invalid">
                    <div class="invalid-feedback">
						username
                    </div>
					</div>

					<div class="input-group has-validation">
						<input type="email" name="email" id="email" placeholder="Enter you email" class="input-field is-invalid">
                    <div class="invalid-feedback">
						email
                    </div>
					</div>

					<div class="input-group has-validation">
						<input type="password" name="password" id="password" placeholder="Enter your password"  class="input-field is-invalid">
                    <div class="invalid-feedback">
                
						password
                    </div>
					</div>

					<div class="input-group has-validation">
						<input type="password" name="confirmPassword" placeholder="Confirm Password" id="confirmPassword"  class="input-field is-invalid">
                    <div class="invalid-feedback">
                
						confirm password
                    </div>
					</div>
					
					<input type="checkbox"  class="chech-box"><span>I agree to the terms</span>
					<button type="submit" class="submit-btn" onclick="submit()">Register</button>
				</div>

			</div>
		</div>
<!-- User register from end -->





        <script>
			let x = document.getElementById("login")
			let y = document.getElementById("register")
			let z= document.getElementById("btn")
			let close = document.getElementById("close")
			let closeBtn = document.getElementById("close_popup")
			let userRegister = document.getElementById("user_register")


			closeBtn.addEventListener('click', () => {
				close.style.display = "none"
			})
			userRegister.addEventListener('click', () => {
				close.style.display = "block"
			})
			// c.style.display = "none"
			

			function register(){
				x.style.left = "-400px";
				y.style.left = "50px";
				z.style.left = "110px"
			}

			function login(){
				x.style.left = "50px";
				y.style.left = "450px";
				z.style.left = "0px"
			}
		</script>

		<script>

			const submit = async () =>{
				let username = document.getElementById('username').value
				let email = document.getElementById('email').value
				let password = document.getElementById('password').value
				let confirmPassword = document.getElementById('confirmPassword').value

				let close = document.getElementById("close")
				
				try {
					let value = await {
					username: username,
					email:email,
					password: password,
					confirmPassword: confirmPassword
				}
					let sumbitUrl =await genarateReques('http://localhost:8080/auth/signup','POST', value)
					
					fetch(sumbitUrl)

					.then((res) => {
						
					return res.json()
				})
				.then(res => {
					console.log(res)
					if(!res.error){
						close.style.display = 'none';
					}

				})
				.catch((err) =>{
					console.log(err)
				})
				} catch (error) {
					console.log(error)
				}
			}

			

			function genarateReques(url, method, data) {
			let headers = new Headers()
					headers.append('Accept', 'Application/JSON')
					headers.append('Content-Type', 'Application/JSON')

				let request = new Request(url, {
					method,
					body:  JSON.stringify(data),
					headers,
					mode: 'cors',


					

				})

				return request
				
			}
		</script>
		<!-- Register form Start -->

        <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    
</body>
</html>