

<%- include("../partial/header.ejs")%>



<div class="row">
	<div class="col-md-2">
		
	</div>

	<div class="col-md-10">
		<div class="row">
			<div class="col-md-9 offset-md-2">
				<div class="card card-body my-5">
					<h1>Create user profile </h1>

				<div class="profile-pics">
					<img width="300" height="200s"
						src="/public/images/erms.jpg"
						 alt="profile pics"
						 class="img-fluid img-thumbnail "
						 id="showImage"
					>

					<form 
						action="/upload/profilePica"
						id="profilePicsFrom"
						class="my-2"
						
					>
						<input 
						   type="file" 
						   onchange="shoImage(this)"
						   name="profilePics" 
						   id="profilePicsFile" 
						   accept="image/*"
						>
						<input
						   type="button" 
						   value="Remove Pics" 
						   class="btn btn-danger btn-sm my-2"
						 
							id="removeProfilePics" 
						>
					</form>  
				</div>
			
				<form action="/deshbord/edit-profile" method="POST">
					<div class="form-group mb-2">
						<label for="name">Enter Your Full Name</label>
						<input
							type="text"
							name="fullname"
							class="form-control 'is-invalid'" 
							placeholder="Enter Your Full Name " 
							
							id="fullname"
						>
						<div class="invalid-feedback">

						</div>
					</div>
					<!-- father name -->
					<div class="form-group mb-2">
						<label for="name">Enter Your Father Name</label>
						<input
							type="text"
							name="fathername"
							class="form-control 'is-invalid'" 
							placeholder="Enter Your Father Name " 
							
							id="fathername"
						>
						<div class="invalid-feedback">

						</div>
					</div>
					<!-- Email -->
					<div class="form-group mb-2">
						<label for="email">Enter Your Email</label>
						<input
							type="text"
							name="email"
							class="form-control" 
							placeholder="Enter Your Name " 
							id="email"
							disabled
						>
					</div>
					<!-- Address -->
					<div class="form-group mb-2">
						<label for="email" class="exampleFormControlTextarea1">Enter Your Address</label>
						<textarea class="form-control" 
						name="address" 
						id="exampleFormControlTextarea1" 
						rows="3">
					</textarea>
					</div>
					<!-- Date of Birth -->
					<div class="form-group mb-2 mb-2"> <!-- Date input -->
						<label class="control-label" for="date">Date Of Birth</label>
						<input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="date"/>
					  </div>

					  <!-- Gender -->
					  <div class="form-group mb-2">
						
							<label class="control-label" for="gender">Gender</label>
						  
						  <select class="custom-select form-control" id="gender">
							<option selected>Choose...</option>
							<option value="1">Male</option>
							<option value="2">Famale</option>
							<option value="3">Others</option>
						  </select>

					  </div>
					  <!-- Age -->
					<div class="form-group mb-2">
						<label for="title">Age</label>
						<input
							type="number"

							name="age"
							class="form-control  'is-invalid' " 
							placeholder="Enter Your Age " 
						   
							id="age"
						>
						<div class="invalid-feedback">

						</div>
					</div>
					<!-- Phone -->
					<div class="form-group mb-2">
						<label for="bio">Enter Your Phone Number</label>
						<input
						type="number"
							name="phone"
							class="form-control  'is-invalid'" 
							id="phone"
						
							
						>
						<div class="invalid-feedback">

						</div>
					</div>
					<!-- Language -->
					<div class="form-group mb-2">
						<label for="language">Write the language you know</label>
						<input
							name="language"
							class="form-control  'is-invalid'" 
							id="language"
							placeholder=" You write this way like = Bangla, English "
						
							
						>
						<div class="invalid-feedback">

						</div>
					</div>
					<input type="submit" value="Save The Profile" class="btn btn-primary">
					
				</form>
				</div>
			</div>
		</div>
	</div>

</div>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="crop-modal" data-backdrop="static" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
	<h5 class="modal-title" id="staticBackdropLabel">Resize Your Image</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	  <span aria-hidden="true">&times;</span>
	</button>
  </div>
  <div class="modal-body">
	<div id="cropped-image"></div>
  </div>
  <div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	<button class="btn btn-primary" id="upload-image" type="button">Upload</button>
  </div>
</div>
</div>
</div>


<script>
	let file = document.getElementById("profilePicsFile")
	let img = document.getElementById("showImage")
	let removeImage = document.getElementById("removeProfilePics")
	function shoImage(input){
		console.log(input)
		if (input.files && input.files[0]) {
			let fileReader = new FileReader()

			fileReader.onload = function(e){
				img.src = e.target.result
			}
			fileReader.readAsDataURL(input.files[0])
		}
	}

	removeImage.addEventListener('click', () => {
		console.log("jjjjj");
		file.value = "";
		img.src = ''
	})
</script>

<%- include("../partial/footer.ejs")%>
